<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"  />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>

          <ul>
            <% if(typeof errors != 'undefined') { %> <% errors.forEach(error=>{ %>
            <li><%= error.message %></li>                                                     
            <% }) %> <% } %> 
          </ul> 
    <form action="/users/register" method="post">
        <div>
            <input type="text" id="name" name="name" placeholder="Please Enter Name" required>
        </div>
        <div>
            <input type="email" id="email" name="email" placeholder="Please Enter Mail id" required>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Please Enter password" required>
        </div>
        <div>
            <input type="password" id="password2" name="password2" placeholder="Confirm password" required>
        </div>
        <div>
            <input type="submit" value= "Register" placeholder="Register">
        </div>
        <a href="/users/login">Already Registered? Login Here </a>
        
    </form>
</body>
</html>